@media only screen and (max-width: 600px) {
  main,section,table,header{
    width: 100%;
  }
  
}

@media only screen and (min-width: 770px) {
  main,section,table,header {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) {
  main,section,table,header {
    width: 70%;
  }
}
$font: "Arial", sans-serif;
$button-colour: #4e77d1;
main {
  float: left;
  padding: 20px;
  width: 100%;
  font-size:75%;
 
}
nav{
  float:right;
}
#autofill{
  padding:6px;
}
#date_picker{
  padding:4px;
}
.container{
  overflow-y: scroll;
  width:100%;
  overflow-x: scroll;
  height: 600px;
}
.info{
  font-family: $font;
  text-transform: uppercase;
  outline: 0;
  background: $button-colour;
  
  border: 0;
  padding: 5px;
  
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  text-decoration: none;
}
select,input{
  cursor: pointer;
}
table { border-collapse: separate; line-height:25px; }
tr { display: block; float: left; width:200px;}
th,  td { display: block; }
a {
  color: white;
  text-decoration: none;
  font-family: $font;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: $font;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: $font;
  text-transform: uppercase;
  outline: 0;
  background: $button-colour;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  text-decoration: none;

  cursor: pointer;
  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #43a047;
  }
}
ul {
  background: $button-colour;
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    color: #fff;
    background: #87a5e7;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }

  li a {
    color: white;
  }

  li:hover {
    background: $button-colour;
    cursor: pointer;
  }
}


  
  